.mainBg{
  background-color: black;

  background-image: url('https://images.unsplash.com/photo-1580136579312-94651dfd596d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1017&q=80');
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 90px 0 120px 0;
  justify-content: start;
  align-items: center;
  background-position: center;
  margin: 0;
  z-index: -1;
}
.mainBgOverlay{
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .5;
  z-index: -2;
  position: absolute;
  top: 0;
}
.main_content{

}
.mainBg h1{
  margin: 0;
  padding: 0;
  font-size: 6.5rem;
 line-height: 70px;
 font-weight: 500;
  color: white;
  text-align: center;
  
}
.mainBg p{
  margin: 10px auto 40px;
  font-size: 1.8rem;
  display: flex;
  width: 80%;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
.main_content > .btn{
  background-color: #d5a770ed;
  width: max-content;
  margin: 0 auto;
  padding: 10px 80px;
  border-radius: 20px;
  font-size: 1.8rem;
  letter-spacing: 1px;
}


/* trending list ============================================ */
.trending{
  padding: 30px 0;
}
.trending h1{

  font-size: 4rem;
  font-weight: 400;
}
.trending p{

  font-size: 1.8rem;
  font-weight: 300;
  margin: 10px 0;
}

.trendingList{
  background-color: red;
  overflow-x: auto;


  display: flex;
  height: 200px;


}